.editFieldRow {
    display: flex;
    min-width: 400px;
    flex-wrap: wrap;
    justify-content: stretch;                
    background: #fff;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    margin:50px 0 0 0;    
}
.editFieldRow:first-of-type {
 margin:0px;
}    
.editFieldRow div {
   width: 33%; 
   align-self: flex-end;
}
.editFieldRow input {
 width: 162px;
}
.editFieldRow input[type=submit] {
    width: 80px;
}
.editFieldRow div label {
    width: 200px;
}
.editFieldRow .iconEdit {
    width: 150px;
    border: 1px solid #000;
    padding: 5px;    
    background: #fff;
}

