<div class='majaxout {mainClass}' id='majaxout{id}'>   
						  
                        <div class='row flex-grow-1 '>
                            <div class='col title'>                        
                                 {image}{featuredHtml}    
								<a data-slug='{name}' href='/?id={name}'>{metaOut[imageurl]}</a>
								<div class='price2'>
									<span class='discount'>{metaOut[price]}</span>
									<span class='priceTag'>{metaOut[priceDiscount]}</span>								
								</div>
                            </div>
                        </div>
						<div class='row mtitle'>			    
                            <span>{title}</span>
                        </div>  
                        <div class='row mcontent mpad '>		
						
								{content}
						
                        </div>                   
                        <div class='row mpad'>			
                                od {metaOut[brand]}
                        </div>
                        <div class='row '>
                            <div class='col action'>
                                <a class='mButtonA' data-slug='{name}' href='/?id={name}'>_(Order)</a>
                            </div>
                        </div>
						
</div>