<div class='majaxout {mainClass} row2' id='majaxout{id}'>
                    <div class='row mcontent mtitle'>			    
                            <span>{title}</span>
                        </div>
                    <div class='row flex-grow-1'>
                        <div class='col title borf'>                        
                            {image}{featuredHtml}                        
                        </div>
                    </div>
                    <div class='row mcontent'>			    
                        <span>{content}</span>
                    </div>
                    <div class='row bors'>			
                         {metaOut[0]}                    
                    </div>
                    <div class='row bort'>			
                            {metaOut[1]}
                            {metaOut[2]}	
                    </div>                
</div>